.main{
		display:inline;
		width:95%;
		height:550px;
		padding:10px;
		padding-right:20px;
		font-size:80%;
		position:absolute;
		top:250px;
		overflow:auto;
		font-weight:bold;
		}
h1{
	font-family:algerian, castellar,Courier New;
	text-transform:uppercase;
	font-weight:bolder;
	text-align:center;
}
#t1{
		text-align:center;
		border-collapse:collapse;
		font-size:80%;
		}
	td,th{
		border:1px solid black
		}
	}